@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.about {

    &__image-container {
        position: relative;
    }
}

.about-badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}