@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero {

    &__content {

        h1 {
            color: $orange;
            font-family: $brittany;
            font-size: 62px;
            padding: 3em 0 0 0;
        }
    
        h2 {
            color: $black;
            font-family: $montserrat;
            font-size: 24px;
            font-weight: bold;
            padding: 1.7em 0 1.3em 0;
        }

        p {
            @include paragraph-style;
        }
    }

    &__image {
        padding: 10em 0 0 0;

        img {
            border-radius:10px;
        }
    }
}