@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero {

    h1 {
        color: $orange;
        font-family: $brittany;
        font-size: 62px;
        padding: 3em 0 0 0;
    }

    h2 {
        color: $black;
        font-family: $montserrat;
        font-size: 24px;
        font-weight: bold;
        padding: 1.7em 0 1.3em 0;
    }

    p {
        color: $black;
        font-family: $montserrat;
        font-size: 16px;
        line-height: 1.5em;
        margin: 0 0 2.5em 0;
    }

    .hero-image {
        padding: 10em 0 0 0;
    }
}