@use '../abstracts/variables' as *;

@mixin pseudo($pos: absolute) {
  content: '';
  position: $pos;
}

@mixin paragraph-style($color: $black, $font-family: $montserrat, $font-size: 16px,$line-height: 1.5em, $margin: 0 0 2.5em 0) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
}