// Fonts

@use '../base/typography' as *;
// Fonts
$montserrat: 'Montserrat', sans-serif;
$brittany: 'Brittany', serif;
$gilda: 'Gilda Display', serif;

// Colours
$black: #545454;
$orange: #e08e6c;
$yellow: #f6c391;
$pink: #d25380;
$white: #fffaf4;