@use '../abstracts/variables' as *;

.cta {
    border-radius: 25px;
    font-family: $montserrat;
    padding: 1em;
    text-decoration: none;

    &__yellow {
        background: $yellow;
        border: 1px solid $yellow;
        color: $black;
        
        &:hover {
            color: $yellow;
            background: $black;
            border: 1px solid $black;
        }
    }

    &__pink {
        background: $pink;
        border: 1px solid $pink;
        color: $white;

        &:hover {
            color: $pink;
            background: $white;
        }
    }
}