@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

header {

    &.is-scrolled {
        background: $white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        z-index: 3;
    }
}
.main-navigation {

    ul {
       display: flex;

       li {
        padding: 0 1em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            a {
                color: $black;
                font-family: $montserrat;
                font-size: 16px;
                text-decoration: none;

                &:hover {
                    color: $orange;
                }
            }
        }    
    }
}