.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.container {
    align-items: center; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 40px;
    justify-content: center; 

    &__image {
        flex:1 1 300px;

        img {
            width:100%; 
            height:auto;
        }
    }

    &__content {
        flex:1 1 300px;
    }
}

.section-padding {
    padding: 6em 0;
}